:root {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    all: unset;
    background-color: #ffffff;
}
#top {
    position: absolute; 
    top: 0;
    right: 0; 
    margin: 10px; 
    padding: 5px 10px; 
    font-size: 16px; 
    z-index: 1000; 
}
#span {
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 15px; 
    z-index: 1000; 
}

#span a {
    text-decoration:  none; 
    color: #180bce; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}

#span a:hover {
    color: #5f3df5; 
}

.container {
    display: flex;              
    align-items: flex-start;   
    padding: 10px;
    justify-content:space-between; 
    gap: 5px; 
}

.left-section {

    width:min-content;
    background-color:rgb(247, 244, 244);
    margin-right: 10px;
    order:1;
}

.large-figure {
    text-align:left;   
    margin: 10px 0;       
}

.large-figure figcaption {
    font-size: 26px;        
    font-weight: bold;      
    color: #050505;            
    padding: 10px;          
    text-align:left;     
}

.form-container {
    width: 200%;            
    max-width: 600px;    

    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(250, 249, 249, 0.849);
    order:2;
}

.input-pair {
    display: flex;
    gap: 20px;
}
.input-group {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight:lighter; 
    color: #0a0a0a;
}
input,select {
    width: 100%;       
    padding: 12px;    
    border:unset; 
    font-size: 15px;  
    background-color: #f5efef;
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
}
input:hover{
    border: 1px solid #5d5bee
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #0e37f0;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #6866f1;
}

#foot {
    color: #080808;            
    text-align: center;     
    padding: 20px;          
    position: relative;     
    bottom: 0;              
    width: 100%;            
    font-family: Arial, sans-serif; 
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        margin-right: 0;
        margin-bottom: 20px;
        width:90%; 
        padding:15px;
    }
    .left-section {
        max-width: 100%;
    }
}
